* {
    color: #222831;
    /* outline: 1px solid gray; */
}

h1 a {
    color: #222831;
}

h1 a:hover {
    color: #222831;
    text-decoration: none;
}

.topbar {
    margin: 10px 0px;
}

.topbar ul, footer ul {
    list-style: none;
    padding-inline-start: 0;
}


.topbar ul li a {
    display: block;
    color: #222831;
    padding: 0px 20px;
    text-decoration: none;
}

.social {
    margin-right: 20px;
}

.social img {
    width: 25px;
}

.member, .fb {
    margin-right: 10px;
}

nav ul li {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #222831;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #222831;
}

.dropdown-toggle::after {
    display: none;
}

.main h3 {
    background-color: #f4f4f4;
}

footer {
    background-color: #f4f4f4;
}

footer ul li a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    padding: 0px 15px;
    color: #6e7783;
    font-size: 14px;
}

footer ul li a:hover {
    text-decoration: none;
    color: #222831;
}

.footer-border {
    border-right: 1px solid #6e7783;
}